@import url(https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css);
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

body {
    background-color: #100c0c;
    font-family: "Rubik", sans-serif;
}
/* Sidebar CSS */
.sidebar {
    width: 280px;
    min-height: 100vh;
    background-color: #100c0c; /* Changed background color */
    position: fixed;
    top: 0;
    left: -280px;
    transition: left 0.5s;
  }
  
  .sidebar.active {
    left: 0;
  }
  
  
  


.navbar {
  transition: margin-left 0.5s; /* Add margin-right transition */
}

/* Adjust the margin-right of the navbar when the sidebar is active */
.navbar.sidebar-active {
  margin-left: 280px; /* Add sidebar width to margin-right */
}



/* Other styles remain unchanged */
.text-primary {
    color: #f70505!important;
}

.btn-primary {
    border-color: #f70505 !important;
    background-color: #f70505 !important;
    color: #fff;
}

.shadow-md {
    box-shadow: 0px 5px 10px rgba(90, 116, 148, 0.3);
}

.sd-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    text-align: center;
    padding-left: 100px;
    font-size: 37px;
    background-color: #100c0c;
    color: #fff;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #100c0c;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  
}

.sidebar-overlay.active {
  opacity: 0;
  visibility: visible;
  
}


.sd-body {
    padding: 15px;
    max-height: calc(100vh - 67px);
    overflow-x: hidden;
}

.sd-body ul {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
}

.sd-body ul li {
    list-style: none;
    margin-bottom: 8px;
}

.sd-button {
  display: inline-block;
  width: 90%;
  padding: 10px 16px;
  color: #fff;
  background-color: #100c0c;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  margin: 10px;
}

.sd-button:hover {
  background-color: #555; /* Change to desired hover color */
}


.btn.btn-outline-light {
    color: #f70505;
    background-color: #100c0c;
    padding: 10px;
    margin: 10px;
}

.form-style {
    text-align: center;
    display: inline-flex;
    align-content: center;
}

.user-name {
    color: #fff;
    margin: 20px;
}

.navbar-brand {
    padding-right: 250px;
    border-radius: 5px;
}
/* Updated styles for tags row */

/* Updated styles for tags row */
.tags-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    transition: margin-left 0.5s; /* Add transition for smooth movement */
    margin-left: 0; /* Initial margin-left value */
    padding-top: 10px;
    padding-left: 10px;
    overflow-x: hidden; /* Allow horizontal overflow */
    overflow-y: hidden; /* Hide vertical overflow */
    margin-bottom: 10px;
    
}



/* Adjust the margin-left of the tags row when the sidebar is active */
.sidebar-active .tags-row {
    margin-left: 280px; /* Add sidebar width to margin-left */
}

  
  .card {
    flex: 0 0 75px;
    width: 77px;
    height: 37px;
    margin-right: 10px;
    background-color: #151618;
    cursor: pointer;
  }

  .card:hover {
    background-color: #555; /* Change to desired hover color */
  }
  
  
  .card-title {
    font-size: 9px;
    color: #fff;
    text-align:center;
    align-content: center;
  }
  /* Updated styles for tags row container */


  .tags-row-container {
    overflow-x: visible; /* Allow horizontal overflow */
    overflow-y: hidden; /* Hide vertical overflow */
}

  /* Adjust the margin-left of the tags row when the sidebar is active */
  .navbar.sidebar-active + .tags-row {
    margin-left: 280px; /* Add sidebar width to margin-left */
  }
  
  .thumbnail-card {
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Add white outline */
    padding: 12px;
    margin-bottom: 20px;
    background-color: #100c0c;
    width: 300px;
    display: grid;
    grid-template-rows: auto 1fr; /* Set the first row to auto to fit the image and the second row to 1fr to let the text content take the remaining space */
    gap: 10px; /* Adjust the gap between the image and the text */
    
    margin-left: 7px;
    margin-top: 10px;
  }

  
  
  .thumbnail-image {
    width: auto;
    height: 100px;
    margin-right: 12px;
  }
  
  .thumbnail-text {
    display: flex;
    flex-direction: column;
  }
  
  .thumbnail-title {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
  }
  
  .thumbnail-channel,
  .thumbnail-views {
    margin: 4px 0;
    font-size: 10px;
    color: #dddddd;
  }
  
  .thumbnail-rows {
    padding-left: 10px;
  }

  .thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    padding: 0 10px; /* Add padding to the container */
    
  }

  .thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 0 10px; /* Add padding to the container */
    transition: margin-left 0.5s; /* Add transition for smooth movement */
    margin-left: 0; /* Initial margin-left value */
  }
  
  
  /* Adjust the margin-left of the thumbnail container when the sidebar is active */
  .sidebar-active .thumbnail-container {
    margin-left: 280px; /* Add sidebar width to margin-left */
  }
  
  .separator {
    height: 2px;
    background-color: #fff;
    margin: 10px 0; /* Adjust margin as needed */
  }

  .sd-subh{
    color: #fff;
    font-size: 20px;
  }

  .sd-susc{
    display: inline-block;
    width: 90%;
    padding: 10px 16px;
    color: #fff;
    background-color: #100c0c;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
  }

  .sd-susc:hover {
    background-color: #555; /* Change to desired hover color */
  }

  .form-control-mr-sm-2{
    background-color: #151618;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(213, 213, 213, 0.5);
  
  }

  .shorts {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 100vh; /* Make the container full height of the viewport */
  }
  
  .darker-area {
    background-color: rgba(0, 0, 0, 0.5); /* Darken with semi-transparent black */
    width: 360px; /* Adjust as needed for the phone size */
    height: 740px; /* Adjust as needed for the phone size */
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    outline: 1px solid white; /* White outline around the darker area */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0); /* White shadow to enhance the outline */
  }
  
  .vertical-img-placeholder img {
    /* Add any additional styling for the image */
    max-width: 100%; /* Ensure the image does not exceed its container */
    max-height: 100%; /* Ensure the image does not exceed its container */
    
  }

  .phone-size-container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    width: 360px; /* Adjust as needed for the phone size */
    height: 740px; /* Adjust as needed for the phone size */
  }





  
 
  
  

